body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #404040;
	line-height: 1.6;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background: #f74c55 url(../images/main-pic.png) 50% 0 no-repeat;
}

.header-inner {
	min-height: 496px;
	display: flex;
	flex-direction: column;
}

.header-top {
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.main-nav {
	margin-left: auto;
}

.main-nav-list {
	margin-top: 5px;
	padding: 0;
	list-style: none;
}

.main-nav-item {
	display: inline-block;
}

.main-nav-link {
	color: #fff;
	margin-left: 33px;
	text-decoration: none;
	text-transform: uppercase;
}

.header-info {
	color: #fff;
	width: 45.6%;
	margin: auto 0 auto auto;
}

.main-title {
	font-size: 40px;
	font-weight: normal;
	margin: -35px 0 7px;
}

.header-text {
	margin-bottom: 20px;
}

.btn {
	color: #fff;
	font-size: 24px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 7px;
    padding: 8px 28px;
	cursor: pointer;
}

.article {
    margin-top: 74px;
    margin-bottom: 100px;
    padding-left: 86px;
	padding-bottom: 89px;
    background: url("../images/colors.jpg") 87px 100% no-repeat;

}

.article h2{
    margin: 0 0 12px;
    font-size: 30px;
    font-weight: normal;
}

.article p {
	margin-bottom: 20px;
    line-height: 26px;
}

.services-block {
	background: #2d5f3b;
    color: #fff;
    height: 306px;
}

.boxes {
	display: flex;
	height: 100%;
}

.box {
	flex-basis: 33.3333%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
	align-items: baseline;
}

.link-plus {
	background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    align-self: flex-end;
    height: 39px;
    width: 36px;
    text-align: center;
    margin: 0 70px 16px 0px;
}

.box p {
    width: 90%;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 5px;
    padding-left: 7px;
}

.box h4 {
	font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0px 0px 14px;
}

.box h4::before {
	content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 3px;
}

.box-1 h4::before {
	background: url(../images/analytic-pic.png) 50% 33% no-repeat;
}

.box-2 h4::before {
	background: url(../images/ipad.png) 50% 33% no-repeat;
}

.box-3 h4::before {
	background: url(../images/icloud.png) 50% 33% no-repeat;
}

.box-2 {
	background-color: #f74c55;
}

.ship-container {
	background-color: #000;
}

.ship-main {
	background-image: url(../images/ship.jpg);
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ship-title {
	color: #fff;
    font-size: 42px;
    margin: 42px 0 20px;
    line-height: 1.4;
}

.ship-text-container {
	max-width: 653px;
    margin: 0 auto;
    text-align: center;
    padding-top: 12%;
}

.btn-2 {
	max-width: 300px;
}

.border-img {
	background-image: url(../images/border.jpg);
	height: 9px;
}

.copyright {
	text-align: center;
}
